<form #form="ngForm" (ngSubmit)="submitForm(form)">
    <div>
        Name
        <input type="text" name="name" formControlName="name">
    </div>
    <div>
        Email
        <input type="email" name="email" formControlName="email">
    </div>
    <div>
        Phone
        <input type="number" name="phone" formControlName="phone">
    </div>
    <div>
        Status
        <input type="text" name="status" formControlName="status">
    </div>
    <div>
        Created By
        <input type="text" name="createdBy" formControlName="createdBy">
    </div>
    <button type="submit">
        Submit
    </button>
</form>
<!-- {"name":"binny2","email":"bin2@gmail.com","phone":"83542029","status":"Next time","createdBy":"1"} -->
<div *ngFor="let i of data" class="border">
    <p>{{i.name}}</p>
    <p>{{i.email}}</p>
    <p>{{i.phone}}</p>
    <p>{{i.status}}</p>
</div>